.ui.label.margin {
    margin: 0.3rem;
}

.ui.label.margin:first-child {
    margin: 0.3rem;
}

.ui.label.position {
    position: relative;
    margin: 1rem 0.7rem;
}

.ui.label.position .floating.ui.label {
    top: -1.5rem;
}

main:nth-last-child(3) {
    margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
    article {
        width: 1127px;
        margin-top: calc((100% - 1400px) / 2);
        margin-bottom: calc((100% - 1400px) / 2);
    }
}